*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background-color: antiquewhite;
}
.content{
     max-width: 700px;
    background-color:rgba(181, 224, 228, 0.885) ;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 4px 3px 5px black(1,1,1,1);

}
.content h1{
   padding: 20px;
   font-size: 45px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content span{
    font-size: 25px;
    color: blue;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 40px;
    margin: 0 20px;
}

.form-control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
input,select,textarea:focus{
    outline-color: red;
}
.button-container{
    padding: 30px;
    display: flex;
    justify-content: end;
}
button{
    background-color: red;
    padding: 8px 15px;
    border: transparent solid 2px;
    border-radius: 5px;
    color: white;
    transition: 0.3s ease-in;
}
button:hover{
    cursor: pointer;
    background-color: #ccc;
    border: 5px double red;
    color: black;
    transition: 0.3s ease-in;
    
}
.textarea-control{
    grid-column: 1/span 2;
}
.textarea-control textarea{
    width: 100px;
}
@media(max-width:750px){
    .textarea-control{
        grid-column: 1/span 1;
    }
}
    
